<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
            <%= image_tag(user.profile_picture, class: "bd-placeholder-img") %>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0"><%= user.full_name %></h3>
            <div class="mb-1 text-muted"><label>Contact: </label> <%= user.mobile_number %> </div>
            <% @hostel_entry = user.hostel_entries.first %>
            <% if !@hostel_entry.nil? %>
                <% @rent_entry = @hostel_entry.rent_entries.first %>
                <div class="card-text mb-auto">
                    <h4><div class="badge badge-pill badge-light">Hostel info:</div></h4>
                    <div class="badge badge-pill badge-dark">Room No: <%= @hostel_entry.room_id %></div>
                    <div class="badge badge-pill badge-dark">Deposit: <%= @hostel_entry.deposit %></div>
                    <% if !@rent_entry.nil? %>
                        <h4><div class="badge badge-pill badge-light">Current entry:</div></h4>
                        <ul class="list-group list-group-horizontal">
                            <li class="badge badge-pill badge-dark"><%= @rent_entry.display_date(@rent_entry.from_date) %> - <%= @rent_entry.display_date(@rent_entry.to_date) %></li>
                            <li class="badge badge-pill badge-dark">Rent <%= @rent_entry.rent %></li>
                            <li class="badge badge-pill badge-dark"><%= @rent_entry.payment %></li>
                        </ul>
                    <% end %>
                </div>  
            <% end %>
            <%= link_to '', user_path(user), class: 'stretched-link' %>
        </div>
    </div>
</div>