<h1 class='text-center'>Tenant Listing</h1>

<div class="row mb-2">
	<% @users.each do |user| %>
		<div class="col-md-8 offset-md-2">
			<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col-auto d-none d-lg-block">
					<%= image_tag(user.profile_picture, class: "bd-placeholder-img") %>
				</div>
				<div class="col p-4 d-flex flex-column position-static">
					<h3 class="mb-0"><%= user.full_name %></h3>
					<div class="mb-1 text-muted"><label>Contact: </label> <%= user.mobile_number %> </div>
					<div class="card-text mb-auto">
						<p>Room No.: <%= user.hostel_entries.first.room_id %>, Deposit: <%= user.hostel_entries.first.deposit %></p>
					</div>
					<%= link_to 'View profile', user_path(user), class: 'stretched-link' %>
				</div>
			</div>
		</div>
	<% end %>
</div>