<h1 class='text-center'>Tenant Listing</h1>


<ul class="nav nav-tabs nav-fill nav-justified">
        <li class="nav-item">
        	<%= link_to "All", "#all", {:class => "nav-link active", 'data-toggle' => 'tab'} %>
        </li>
        <li class="nav-item">
        	<%= link_to "Current", "#current", {:class => "nav-link", 'data-toggle' => 'tab'} %>
        </li>
        <li class="nav-item">
        	<%= link_to "Vacated", "#vacated", {:class => "nav-link", 'data-toggle' => 'tab'} %>
        </li>
        <li class="nav-item">
        	<%= link_to "Rent Due", "#duerent", {:class => "nav-link", 'data-toggle' => 'tab'} %>
        </li>
    </ul>
    <div class="tab-content">
    	<div class="tab-pane fade show active" id="all">
    		<div class="row mb-2">
    			<% @users.each do |user| %>
    				<%= render 'user', user: user %>
    			<% end %>
    		</div>
    	</div>
        <div class="tab-pane fade" id="current">
            <div class="row mb-2">
            	<% @current_users.each do |user| %>
            		<%= render 'user', user: user %>
            	<% end %>
            </div>
        </div>
        <div class="tab-pane fade" id="vacated">
        	<div class="row mb-2">
        		<% @vacated_users.each do |user| %>
        			<%= render 'user', user: user %>
        		<% end %>
        	</div>
        </div>
        <div class="tab-pane fade" id="duerent">
            <div class="row mb-2">
                <% @users.each do |user| %>
                    <%= render 'user', user: user %>
                <% end %>
            </div>
        </div>
    </div>