<div class="row">
  <div class="col-md-6">
    <div class="card bg-light text-center tenant-card">
      <div class="card-body">
        <h1><div class='card header font-weight-bold card-title'>Tenant</div></h1>
        <%= image_tag(@user.profile_picture, class: 'img-fluid rounded mx-auto d-block') %>
        <p class="card-text">Name: <%= @user.full_name %></p>
        <p class="card-text">Mobile: <%= @user.mobile_number %></p>
        <p class="card-text">Email: <%= @user.email %></p>
        <% if @user.documents.attached? %>
        <p class="card-text">Identity Proof:
          <ul class="list-inline">
            <% @user.documents.each_with_index do |document, doc_index| %>
              <li class="list-inline-item"><%= link_to("Document#{doc_index+1}", url_for(document), target: '_blank') %></li>
            <% end %>
          </ul>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
      <div class="card bg-light text-center">
        <div class="card-body">
          <h2><div class='card header font-weight-bold card-title'>Hostel Entry</div></h2>
            <% if !@hostel_entry.nil? %>
              <p class="card-text">Joining Date: <%= @hostel_entry.display_joining_date %></p>
              <p class="card-text">Deposit: <%= @hostel_entry.deposit %></p>
              <p class='card-text'>Vacating Date: <%= @hostel_entry.display_vacate_date %></p>
              <p class="card-text">Room: <%= @hostel_entry.display_room %></p>
              <div class="text-center">
                <button type='button' class="btn btn-primary btn-rounded mb-4" data-toggle='modal' data-target='#modalEditHostelEntryForm'>Edit Hostel Entry</button>
                <%= link_to 'Delete entry', [@user, @hostel_entry], method: :delete, data: { confirm: 'Are your sure?'}, class: 'btn btn-primary btn-rounded mb-4' %>
              </div>

              <div class="modal fade" id="modalEditHostelEntryForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h4 class="modal-title">Hostel Entry</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= @user.full_name %>
                      <%= form_with(model: [@user, @hostel_entry], local: true) do |form| %>
                        <%= fields_for :hostel_entry do |he_form| %>
                          <div class="form-group">
                              <%= he_form.label :joining_date, class: 'col-form-label' %>
                              <%= he_form.date_field :joining_date, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                            <%= he_form.label :vacate_date, class: 'col-form-label' %>
                            <%= he_form.date_field :vacate_date, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                            <%= he_form.label :booking_date, class: 'col-form-label' %>
                            <%= he_form.date_field :booking_date, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                            <%= he_form.label :deposit, class: 'col-form-label' %>
                            <%= he_form.text_field :deposit, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                            <%= he_form.label :room_id, class: 'col-form-label' %>
                            <%= he_form.collection_select :room_id, @rooms, :id, :name, class: 'form-control' %>
                          </div>
                        <% end %>
                    </div>
                    <div class="modal-footer">
                      <%= form.submit "submit", class: 'btn btn-dark' %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>

            <% else %>
              <div class="text-center">
                <button type='button' class="btn btn-primary btn-rounded mb-4" data-toggle='modal' data-target='#modalAddHostelEntryForm'>Add Hostel Entry</button>
              </div>
            <% end %>

            <div class="modal fade" id="modalAddHostelEntryForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title">Hostel Entry</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= @user.full_name %>
                    <%= form_with(model: [@user, @user.hostel_entries.build], local: true) do |form| %>
                      <%= fields_for :hostel_entry do |he_form| %>
                        <div class="form-group">
                            <%= he_form.label :joining_date, class: 'col-form-label' %>
                            <%= he_form.date_field :joining_date, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <%= he_form.label :vacate_date, class: 'col-form-label' %>
                          <%= he_form.date_field :vacate_date, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <%= he_form.label :booking_date, class: 'col-form-label' %>
                          <%= he_form.date_field :booking_date, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <%= he_form.label :deposit, class: 'col-form-label' %>
                          <%= he_form.text_field :deposit, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <%= he_form.label :room_id, class: 'col-form-label' %>
                          <%= he_form.collection_select :room_id, @rooms, :id, :name, class: 'form-control' %>
                        </div>
                      <% end %>
                  </div>
                  <div class="modal-footer">
                    <%= form.submit "submit", class: 'btn btn-dark' %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class='card bg-light text-center'>
      <div class='card-body'>
        <h2><div class='card header font-weight-bold card-title'>Rent Entries</div></h2>
        <% if !@hostel_entry.nil? %>
          <div class="text-right", id="new-rent-entry">
            <%= link_to 'New Entry', new_user_hostel_entry_rent_entry_path(user_id: @user.id, hostel_entry_id: @hostel_entry.id), remote: true %>
          </div>
          <div class="divTable RentEntry my-custom-scrollbar" id="rent-entry-table">
            <div class="divTableHeading">
              <div class="divTableRow">
                <div class="divTableHead">From</div>
                <div class="divTableHead">To</div>
                <div class="divTableHead">Rent</div>
                <div class="divTableHead">Payment Status</div>
                <div class="divTableHead">Actions</div>
              </div>
            </div>
            <div class="divTableBody" id='rent-entry-table-body'>
              <% if !@hostel_entry.rent_entries.empty? %>
                <% @hostel_entry.rent_entries.each do |rent_entry| %>
                  <%= content_tag :div, class: 'divTableRow', id: dom_id(rent_entry) do %>
                    <%= render rent_entry %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="divTableFoot tableFootStyle">
              <div class="divTableRow">
                <div class="divTableCell">From</div>
                <div class="divTableCell">To</div>
                <div class="divTableCell">Rent</div>
                <div class="divTableCell">Payment Status</div>
                <div class="divTableCell">Actions</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>