<div class="modal-header text-center">
  <h4 class="modal-title">Add Hostel Entry</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= @user.full_name %>
  <%= form_with(model: [@user, @user.hostel_entries.build], local: true) do |form| %>
    <%= fields_for :hostel_entry do |he_form| %>
      <div class="form-group">
          <%= he_form.label :joining_date, class: 'col-form-label' %>
          <%= he_form.date_field :joining_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= he_form.label :vacate_date, class: 'col-form-label' %>
        <%= he_form.date_field :vacate_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= he_form.label :booking_date, class: 'col-form-label' %>
        <%= he_form.date_field :booking_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= he_form.label :deposit, class: 'col-form-label' %>
        <%= he_form.text_field :deposit, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= he_form.label :room_id, class: 'col-form-label' %>
        <%= he_form.collection_select :room_id, @rooms, :id, :name, class: 'form-control' %>
      </div>
    <% end %>
    <%= form.submit "submit", class: 'btn btn-dark' %>
  <% end %>
</div>