<%= form_with model: @rent_entry, url: user_hostel_entry_rent_entry_path, class: 'divTableRow', id: dom_id(rent_entry, 'inline_form') do |form| %>
	<%= fields_for :rent_entry do |f| %>
		<div class="divTableCell"><%= f.date_field :from_date, placeholder: 'Starting Date' %></div>
		<div class="divTableCell"><%= f.date_field :to_date, placeholder: 'Ending Date' %></div>
		<div class="divTableCell"><%= f.text_field :rent, placeholder: 'Rent' %></div>
		<div class="divTableCell">
			<%= f.text_field :amount_paid, placeholder: 'Amount Paid' %>
			<%= f.date_field :payment_date %>
		</div>
		<div class="divTableCell"><%= f.submit "submit", class: 'btn btn-dark' %></div>
	<% end %>
<% end %>