<div class="divTableCell"><%= display_date_short(rent_entry.from_date) %></div>
<div class="divTableCell"><%= display_date_short(rent_entry.to_date) %></div>
<div class="divTableCell"><%= rent_entry.rent %></div>
<div class="divTableCell"><%= rent_entry.payment %></div>
<div class="divTableCell">
  <%= link_to "Edit", edit_user_hostel_entry_rent_entry_path(@user, @hostel_entry, rent_entry), remote: true %>
  <%= link_to "Delete", user_hostel_entry_rent_entry_path(@user, @hostel_entry, rent_entry), method: :delete, data: {confirm: 'Are your sure?', remote: true }, class: 'delete' %>
</div>